<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/clientes.css">
    <title>Clientes</title>
</head>
<body>
    <h1>Registro de un nuevo cliente</h1>
    <form action="/agregar" method="post" id="form-clientes">
        <label for="id_cliente">ID Cliente:</label>
        <input type="text" id="id_cliente" name="id_cliente" required>
      
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      
        <label for="correo_electronico">Correo Electrónico:</label>
        <input type="email" id="correo_electronico" name="correo_electronico" required>
      
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
      
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
      
        <label for="fecha_registro">Fecha de Registro:</label>
        <input type="date" id="fecha_registro" name="fecha_registro" required>
      
        <button type="submit">Enviar</button>
        <button type="button" onclick="window.location.href='/mascotas/nueva'">Registrar mascota</button>
        <button type="button" onclick="window.location.href='/membresia/nuevo'">Registrar membresía</button>
      </form>
      
</body>
</html>